body {
    color: rgb(7, 1, 3);
    background: rgb(38, 236, 226);
    margin: 2px;
}

header {
    border-bottom: solid 6px rgb(220, 235, 17);
    padding: 20px;
    font-size: 32px;
    color: rgb(243, 247, 252);
}